appdirs==1.4.1
Django==1.9
django-cors-headers==2.0.2
djangorestframework==3.5.4
djangorestframework-jwt==1.9.0
gunicorn==19.6.0
packaging==16.8
psycopg2==2.6.2
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
xlrd==1.0.0
whitenoise==3.3.1
dj-database-url==0.2.1

